.searchContainer{
    background-color: rgb(209, 204, 209);
    padding:20px;
    display:flex;
    


}
.breedSearch{
    flex-grow: 1;
}

.searchFilter{
    width:100%;
    
}
.filterButton{
    margin-right:20px;
}
.searchFilterContainer{
    display: flex; 
}
.filterButtonContainer{
    margin:10px 0px;
}
.search{
    margin:20px
}
.errorMessage{
    color:red
}
.errorMessage + .searchBreed input {
    border: 2px solid red;
  }
  .map{

  }
  